@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@500;600;700&family=Ubuntu:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --title-fonts: 'Livvic', sans-serif;
    --normal-fonts: 'Ubuntu', sans-serif;

    --black: #283618;
    --dark-color1: #606c38;
    --dark-color2: #bc6c25;
    --light-color1: #dda15e;
    --white: #fefae0;
}
/* -------------------- Global Styling -------------------- */
body{
    font-family: ubuntu, sans-serif;
    background-color: var(--white);
    color: var(--white);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

/* -------------------- Navbar -------------------- */
nav{
    background-color: var(--black);
    height: 5rem;
    overflow: hidden;
    transition: 0.3s;
}
.show-nav{
    height: 11.5rem;
}

.nav-shrink{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.nav-logo{
    height: 3.5rem;
}
.bar-icon{
    font-size: 1.6rem;
}

.nav-expand{
    background-color: var(--dark-color1);
    text-align: right;
    padding: 0 30px;
}
.nav-expand li{
    padding: 1rem 0;
}
.nav-expand li:nth-child(1){
    border-bottom: solid 1px var(--black);
}
.nav-links{
    color: var(--white);
    position: relative;
}
.nav-links:hover{
    color: var(--light-color1);
}
.border{
    position: absolute;
    transition: 0.2s;
    background-color: var(--light-color1);
}
.border-left{
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
}
.border-bottom{
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
}
.border-right{
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
}
.border-top{
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
}
.nav-links:hover .border-left{
    height: 100%;
}
.nav-links:hover .border-bottom{
    width: 100%;
}
.nav-links:hover .border-right{
    height: 100%;
}
.nav-links:hover .border-top{
    width: 100%;
}

/* -------------------- Form -------------------- */
.form-container{
    background-color: var(--black);
    width: 98%;
    max-width: 500px;
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1.5rem 10px 10px;
}
.signup-form-container{
    max-width: 750px;
}
form{
    border: solid var(--light-color1);
    border-radius: 10px;
    padding: 1.5rem 10px 10px;
    position: relative;
}
.form-title{
    font-size: 1.7rem;
    font-family: var(--title-fonts);
    position: absolute;
    top: 0;
    left: 7px;
    transform: translateY(-60%);
    background-color: var(--black);
    padding: 0 2px;
}
.signup-responsive{
    display: flex;
    flex-direction: column;
}
.form-input-box{
    width: 90%;
    margin: 1.5rem auto;
}
.input-box{
    position: relative;
    width: 100%;
}
.input-box input, .input-box select{
    height: 3rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--white);
    background-color: var(--black);
    color: var(--white);
    font-size: 1.1rem;
    padding-left: 17px;
}
.input-box input:focus, .input-box input:valid{
    outline: none;
    border: solid 1px var(--white);
    border-radius: 8px;
}
.input-box label{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 100;
    font-size: 0.9rem;
    background-color: var(--black);
    transition: 0.2s;
    padding: 0 1px;
}
.input-box input:focus + label, .input-box input:valid + label{
    top: 0;
    left: 8px;
    font-size: 0.8rem;
}
.gender-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.submit-box{
    width: 50%;
}
.submit-btn{
    border: none;
    background-color: var(--light-color1);
    color: var(--black);
    padding: 0.6rem 0;
    width: 100%;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    border: solid 1px var(--light-color1);
}
.submit-btn:hover{
    background-color: var(--black);
    color: var(--light-color1);
}
.new-old-user-box{
    width: 90%;
    margin: 1.5rem auto 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-links{
    color: var(--light-color1);
}
.signup-responsive > div{
    width: 100%;
}

/* -------------------- Media Queries -------------------- */

@media (min-width: 350px){
    .form-container{
        width: 90%;
    }
}

@media (min-width: 450px){
    .new-old-user-box{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .gender-box{
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
}

@media (min-width: 750px){
    .bar-icon{
        display: none;
    } 
    nav{
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
    }
    .nav-expand{
        background-color: var(--black);
        text-align: right;
        padding: 0;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        gap: 1rem;
    }
    .nav-expand li:nth-child(1){
        border-bottom: none;
    }
    .nav-links{
        padding: 0.5rem 1.5rem;
    }
    .signup-responsive{
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}